<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.bookstore.action.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>com.bookstore.action.LoginServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>com.bookstore.action.RegisterServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPublisherServ</servlet-name>
    <servlet-class>com.bookstore.action.AddPublisherServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReqServ</servlet-name>
    <servlet-class>com.bookstore.action.ReqServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBookServ</servlet-name>
    <servlet-class>com.bookstore.action.AddBookServ</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPublisherServ</servlet-name>
    <url-pattern>/AddPublisherServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReqServ</servlet-name>
    <url-pattern>/ReqServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServ</servlet-name>
    <url-pattern>/AddBookServ</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
